{% import 'systemrdl_properties.jinja' as properties -%}

{% macro heading(node) -%}
{% set class = node.inst.__class__.__name__ -%}
{% if class == "Addrmap" %}{% set section_class = "Address map"   %}{% endif -%}
{% if class == "Regfile" %}{% set section_class = "Register file" %}{% endif -%}
{% if class == "Reg"     %}{% set section_class = "Register"      %}{% endif -%}
{% if class == "Field"   %}{% set section_class = "Register field"%}{% endif -%}
{{ section_class }}: `{{ node.get_global_type_name(separator='.') }}`
{% endmacro -%}

{% macro format_literal(value, width) -%}
{{ "0x{:0{width}X}".format(value, width = 8) -}}
{% endmacro -%}

{# construct a dictionary of global type names and their instances #}

{% set global_components = {} %}
{% for node in nodes -%}
    {% for desc in node.descendants() -%}
        {% set global_type_name = desc.get_global_type_name(separator='.') -%}
        {% if global_type_name in global_components -%}
            {% do global_components[global_type_name]['instances'].append(desc) -%}
        {% else -%}
            {% do global_components.update({global_type_name: {'visited': false, 'instances': [desc]}}) -%}
        {% endif -%}
    {% endfor -%}
{% endfor -%}

{%- macro print_properties(node, property_dict) -%}
    {% set property_list = [] -%}
    {% for property in property_dict.properties.keys() -%}
        {% set value = node.get_property(property) -%}
        {% if value is boolean -%}
            {% if value is true -%}
                {% do property_list.append(property) -%}
            {% endif -%}
        {% elif value is number -%}
            {% do property_list.append(property+'='+value.__repr__()) -%}
        {% elif isinstance(value, (systemrdl.node.SignalNode, systemrdl.node.FieldNode)) -%}
            {% do property_list.append('TODO') -%}
        {% elif value is none -%}
        {% else -%}
            {% do property_list.append(property+'='+value.name) -%}
        {% endif -%}
    {% endfor -%}
    {% if property_list %}
        {{- property_dict.name }}: `{{ property_list|join(', ') }}`
    {%- endif %}
{% endmacro -%}

{% for node in nodes -%}
{% for child in node.children() recursive -%}
{% set global_type_name = child.get_global_type_name(separator='.') -%}
{% if global_components[global_type_name]['visited'] is false %}
{% do global_components[global_type_name].update({'visited': true}) %}

{{ '#' * loop.depth }} {{ heading(child) }}

{% if isinstance(child, (systemrdl.node.AddrmapNode, systemrdl.node.RegfileNode, systemrdl.node.RegNode)) -%}
- Definition: `{{ global_type_name }}`
- Offset: `{{ format_literal(child.address_offset, 32) }}`

{% endif -%}

{% if isinstance(child, (systemrdl.node.AddrmapNode, systemrdl.node.RegfileNode)) -%}

| Offset | class | type name | instance | name |
|--------|-------|-----------|----------|------|
{% for row in child.children() -%}
{% set link = '#' ~ heading(row)|slug -%}
| `{{ format_literal(row.address_offset, 32) }}` | `{{ row.inst.__class__.__name__ }}` | [`{{ row.get_global_type_name(separator='.') }}`]({{ link }}) | `{{ row.inst.inst_name }}` | {{ row.get_property('name') }} |
{% endfor %}

{% elif isinstance(child, (systemrdl.node.RegNode)) -%}

| range | SW | HW | reset | type name | instance | name |
|-------|----|----|-------|-----------|----------|------|
{% for row in child.children() -%}
{% set link = '#' ~ heading(row)|slug -%}
| `{{ "[{:d}:{:d}]".format(row.inst.msb, row.inst.lsb) }}` | `{{ row.get_property('sw').name }}` | `{{ row.get_property('hw').name }}` | `{{ format_literal(row.get_property("reset", default=0), 32) }}` | [`{{ row.get_global_type_name(separator='.') }}`]({{ link }}) | `{{ row.inst.inst_name }}` | {{ row.get_property('name') }} |
{% endfor %}

{% elif isinstance(child, (systemrdl.node.FieldNode)) -%}

{{- print_properties(child, properties.dict_properties['sw_access']) -}}
{{- print_properties(child, properties.dict_properties['hw_access']) -}}
{{- print_properties(child, properties.dict_properties['counter']) -}}
{{- print_properties(child, properties.dict_properties['interrupt']) -}}
{{- print_properties(child, properties.dict_properties['miscelaneous']) -}}

{% endif %}

{% if child.get_property('desc') %}{{ child.get_property('desc') }}{% endif %}

{{ loop(child.children()) -}}

{% endif %}
{%- endfor -%}
{%- endfor -%}