{% set dict_properties = {
    'access': {
        'name': "Field access properties",
        'properties': {
            'hw': "Design’s ability to sample/update a field.",
            'sw': "Programmer’s ability to read/write a field.",
        },
        'types': {
            'r'  : "Read-only access.",
            'w'  : "Wead-only access.",
            'rw' : "Read/write access.",
            'wr' : "Write/read access.",
            'w1' : "Write once access, all subsequent software writes are then ignored until the field is reset again.",
            'rw1': "Read/write once access, all subsequent software writes are then ignored until the field is reset again.",
            'na' : "No read/write access is allowed.",
        }
    },
    'sw_access': {
        'name': "Software access properties",
        'properties': {
            'rclr'       : "Clear on read (`field = '0`).",
            'rset'       : "Set on read (`field = '1`).",
            'onread'     : "Read side-effect.",
            'woset'      : "Write one to set (field = field | write_data).",
            'woclr'      : "Write one to clear (field = field & ~write_data).",
            'onwrite'    : "Write function.",
            'swwe'       : "Software write-enable active high (`field = swwe ? new : cur-rent`).",
            'swwel'      : "Software write-enable active low (`field = swwel ? current : new`).",
            'swmod'      : "Assert when field is modified by software (written or read with a set or clear side effect).",
            'swacc'      : "Assert when field is software accessed.",
            'singlepulse': "The field asserts for one cycle when written `1` and then clears back to `0` on the next cycle. This creates a single-cycle pulse on the hardware interface.",
        },
        'types': {
            'onread': {
                'rclr' : "All the bits of the field are cleared on read (`field = '0`).",
                'rset' : "All the bits of the field are set on read (`field = '1`).",
                'ruser': "The read modifies the field in a way which does not match the other defined read side-effects.",
            },
            'onwrite': {
                'woset': "Bitwise write one to set (`field = field | write_data`).",
                'woclr': "Bitwise write one to clear (`field = field & ~write_data`).",
                'wot'  : "Bitwise write one to toggle (`field = field ^ write_data`).",
                'wzs'  : "Bitwise write zero to set (`field = field | ~write_data`).",
                'wzc'  : "Bitwise write zero to clear (`field = field & write_data`).",
                'wzt'  : "Bitwise write zero to toggle (`field = field ~^ write_data`).",
                'wclr' : "All bits of the field are cleared on write (`field = '0`).",
                'wset' : "All bits of the field are set on write (`field = '1`).",
                'wuser': "The write modifies the field in a way which does not match the other defined write functions and is not a write without a write function.",
            }
        }
    },
    'hw_access': {
        'name': "Hardware access properties",
        'properties': {
            'we'        : "Write-enable (active high).",
            'wel'       : "Write-enable (active low).",
            'anded'     : "Logical `AND` of all bits in field.",
            'ored'      : "Logical `OR` of all bits in field.",
            'xored'     : "Logical `XOR` of all bits in field.",
            'fieldwidth': "Determines the width of all instances of the field. This number shall be a numeric. The default value of `fieldwidth` is undefined.",
            'hwclr'     : "Hardware clear. This field need not be declared as hardware-writable.",
            'hwset'     : "Hardware set. This field need not be declared as hardware-writable.",
            'hwenable'  : "Determines which bits may be updated after any write enables, hardware clears/sets or counter increment has been performed. Bits that are set to `1` will be updated.",
            'hwmask'    : "Determines which bits may be updated after any write enables, hardware clears/sets or counter increment has been performed. Bits that are set to `1` will not be updated.",
        }
    },
    'counter': {
        'name': "Counter field properties",
        'properties': {
            'counter'      : "Field implemented as a counter.",
            'threshold'    : "This is an alias of `incrthreshold`.",
            'saturate'     : "This is an alias of `incrsaturate`.",
            'incrthreshold': "Indicates the counter has a threshold in the incrementing direction. A comparison value or the result of a comparison.",
            'incrsaturate' : "Indicates the counter saturates in the incrementing direction. A comparison value or the result of a comparison.",
            'overflow'     : "Overflow signal asserted when counter overflows or wraps.",
            'underflow'    : "Underflow signal asserted when counter `underflows` or wraps.",
            'incrvalue'    : "Increment counter by specified value.",
            'incr'         : "References the counter's increment signal. Use to actually increment the counter, i.e, the actual counter increment is controlled by another component or signal (active high).",
            'incrwidth'    : "Width of the interface to hardware to control incrementing the counter externally.",
            'decrvalue'    : "Decrement counter by specified value.",
            'decr'         : "References the counter's decrement signal. Use to actually decrement the counter, i.e, the actual counter decrement is controlled by another component or signal (active high).",
            'decrwidth'    : "Width of the interface to hardware to control decrementing the counter externally.",
            'decrsaturate' : "Indicates the counter saturates in the decrementing direction. A comparison value or the result of a comparison.",
            'decrthreshold': "Indicates the counter has a threshold in the decrementing direction. A comparison value or the result of a comparison.",
        }
    },
    'interrupt': {
        'name': "Field access interrupt properties",
        'properties': {
            'intr'      : "Interrupt, part of interrupt logic for a register.",
            'enable'    : "Defines an interrupt enable (the inverse of `mask`); i.e., which bits in an interrupt field are used to assert an interrupt.",
            'mask'      : "Defines an interrupt mask (the inverse of `enable`); i.e., which bits in an interrupt field are not used to assert an interrupt.",
            'haltenable': "Defines a halt enable (the inverse of `haltmask`); i.e., which bits in an interrupt field are set to de-assert the halt out.",
            'haltmask'  : "Defines a halt mask (the inverse of `haltenable`); i.e., which bits in an interrupt field are set to assert the halt out.",
            'sticky'    : "Defines the entire field as sticky; i.e., the value of the associated interrupt field shall be locked until cleared by software (write or clear on read).",
            'stickybit' : "Defines each bit in a field as sticky (the default); i.e., the value of each bit in the associated interrupt field shall be locked until the individual bits are cleared by software (write or clear on read).",
        },
        'types': {
            'intr': {
                'posedge'  : "Interrupt when next goes from low to high.",
                'negedge'  : "Interrupt when next goes from high to low.",
                'bothedge' : "Interrupt when next changes value.",
                'level'    : "Interrupt while the next value is asserted and maintained (the default).",
                'nonsticky': "Defines a non-sticky (hierarchical) interrupt; the associated interrupt field shall not be locked. This modifier can be specified in conjunction with the other interrupt types.",
            }
        }
    },
    'miscelaneous': {
        'name': "Miscellaneous properties",
        'properties': {
            'encode'     : "Binds an enumeration to a field.",
            'precedence' : "Controls whether precedence is granted to hardware (hw) or software (sw) when contention occurs.",
            'paritycheck': "Indicates whether this field is to be checked by parity.",
        }
    }
}
%}
