{% macro heading(class, type_name) -%}
{% if class == "Addrmap" %}{% set section_class = "Address map:"%}{% endif -%}
{% if class == "Regfile" %}{% set section_class = "Register file:"%}{% endif -%}
{% if class == "Reg" %}{% set section_class = "Register:"%}{% endif -%}
{% if class == "Field" %}{% set section_class = "Register field:"%}{% endif -%}
{{ section_class }} {{ type_name }}
{%- endmacro -%}

{% set levels = [] -%}

{% for type_name, component in components.items() recursive -%}
{{ '#' * loop.depth }} {{ heading(component.class, component.name) }}

{% if component.class in ["Addrmap", "Regfile", "Reg"] -%}

{% do levels.append({}) -%}
{% set depth0 = loop.depth0 -%}
{% for instance in component.instances -%}
{% do levels[depth0].update({instance.instance: instance.offset}) -%}
{% endfor -%}
{% set paths = {"": 0} -%}
{% for level in levels -%}
{% set tmp = {} -%}
{% for path in paths -%}
{% for unit in level -%}
{% do tmp.update({path + '.' + unit: paths[path] + level[unit]}) -%}
{% endfor -%}
{% endfor -%}
{% do paths.clear() -%}
{% do paths.update(tmp) -%}
{% endfor -%}

- Definition: `{{ component.type_name }}`
- Offset: `{{ "0x{:0{fill_width}X}".format(component.offset, fill_width = 8) }}`
- Absolute address and full instance path:
{% for path in paths -%}
0. `{{ "0x{:0{fill_width}X}".format(paths[path], fill_width = 8) }}` : `{{ path }}`
{% endfor -%}

{%- endif -%}

{%- if component.class in ["Addrmap", "Regfile"] %}

{{ component.desc }}

| Offset | class | type_name | instance | name |
|--------|-------|-----------|----------|------|
{% for row in component.nodes -%}
{% set link = '#' ~ heading(row.class, row.name)|slug -%}
| `{{ "0x{:0{fill_width}X}".format(row.offset, fill_width = 8) }}` | `{{ row.class }}` | [`{{ row.type_name }}`]({{ link }}) | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif component.class == "Reg" %}

{{ component.desc }}

| range | SW | HW | reset | type_name | instance | name |
|-------|----|----|-------|-----------|----------|------|
{% for row in component.nodes -%}
{% set link = '#' ~ heading(row.class, row.name)|slug -%}
| `{{ "[{:d}:{:d}]".format(row.msb, row.lsb) }}` | `{{ row.sw }}` | `{{ row.hw }}` | `{{ "0x{:0{fill_width}x}".format(row.reset, fill_width=8) }}` | [`{{ row.type_name }}`]({{ link }}) | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif component.class == "Field" %}

{{ component.desc }}

{% endif -%}

{{- loop(component.components.items()) -}}

{%- if component.class in ["Addrmap", "Regfile", "Reg"] -%}
{%  do levels.pop() -%}
{%  endif -%}

{%- endfor -%}