{% for type_name, component in components.items() recursive -%}

{%- if component.class in ["Addrmap", "Regfile"] -%}
{% if component.class == "Addrmap" -%}
{{ '#' * loop.depth }} _Address map:_ {{ component.name }}
{% endif %}
{% if component.class == "Regfile" -%}
{{ '#' * loop.depth }} _Register file:_ {{ component.name }}
{% endif %}

- Instances: `{{ component.instance }}`
- Definition: `{{ component.type_name }}`
- Offset: `{{ "0x{:08X}".format(component.offset) }}`

{{ component.desc }}

| Offset | class | type_name | instance | name |
|--------|-------|-----------|----------|------|
{% for row in component.nodes -%}
| `{{ "0x{:08X}".format(row.offset) }}` | `{{ row.class }}` | `{{ row.type_name }}`| `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif component.class == "Reg" -%}
{{ '#' * loop.depth }} _Register:_ {{ component.name }}

- Instance: `{{ component.instance }}`
- Definition: `{{ component.type_name }}`
- Offset: `{{ "0x{:08X}".format(component.offset) }}`

{{ component.desc }}

| range | SW | HW | reset | type_name | instance | name |
|-------|----|----|-------|-----------|----------|------|
{% for row in component.nodes -%}
| `{{ "[{:d}:{:d}]".format(row.msb, row.lsb) }}` | `{{ row.sw }}` | `{{ row.hw }}` | `{{ "{:x}".format(row.reset) }}` | `{{ row.type_name }}` | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif component.class == "Field" -%}
{{ '#' * loop.depth }} _Field:_ {{ component.name }}

{{ component.desc }}

{% endif -%}
{{ loop(component.components.items()) }}
{% endfor -%}