{% for node in nodes recursive %}

{% if node.type == "addrmap" %}
{{ '#' * loop.depth }} Address map: {{ node.name }}

- Block type: {{ node.type }}
- Instance name: `{{ node.instance }}`
- Address offset: `{{ "0x{:08X}".format(node.offset) }}`

| address | type | instance | name |
|---------|------|----------|------|
{% for row in node.nodes -%}
| `{{ "0x{:08X}".format(row.offset) }}` | `{{ row.type }}` | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{{ loop(node.nodes) }}

{% elif node.type == "regfile" %}
{{ '#' * loop.depth }} Register file: {{ node.name }}

| address | type | instance | name |
|---------|------|----------|------|
{% for row in node.nodes -%}
| `{{ "0x{:08X}".format(row.offset) }}` | `{{ row.type }}` | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif node.type == "reg" %}
{{ '#' * loop.depth }} Register: {{ node.name }}

| address | type | instance | name |
|---------|------|----------|------|
{% for row in node.nodes -%}
| `{{ "0x{:08X}".format(row.offset) }}` | `{{ row.type }}` | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% endif %}

{% endfor %}