{% macro heading(class, type_name) -%}
{% if class == "Addrmap" %}{% set section_class = "Address map:"%}{% endif -%}
{% if class == "Regfile" %}{% set section_class = "Register file:"%}{% endif -%}
{% if class == "Reg" %}{% set section_class = "Register:"%}{% endif -%}
{% if class == "Field" %}{% set section_class = "Register field:"%}{% endif -%}
{{ section_class }} {{ type_name }}
{%- endmacro -%}

{% set ns = namespace() -%}
{% set paths = [] -%}
{% set ns.paths = [] -%}

{% for type_name, component in components.items() recursive -%}
{{ '#' * loop.depth }} {{ heading(component.class, component.name) }}

{% for instance in component.instances %}
{{ instance.instance }}
{% do paths.append(instance.instance) %}
{% do ns.paths.append(instance.instance) %}
Paths: {{ paths }}
Ns.Paths: {{ ns.paths }}
{% endfor %}
PATHS: {{ paths }}
NS.PATHS: {{ ns.paths }}

{%- if component.class in ["Addrmap", "Regfile"] %}

- Instances: `{{ component.instance }}`
- Definition: `{{ component.type_name }}`
- Offset: `{{ "0x{:0{fill_width}X}".format(component.offset, fill_width = 8) }}`

{{ component.desc }}

| Offset | class | type_name | instance | name |
|--------|-------|-----------|----------|------|
{% for row in component.nodes -%}
{% set link = '#' ~ heading(row.class, row.name)|slug -%}
| `{{ "0x{:0{fill_width}X}".format(row.offset, fill_width = 8) }}` | `{{ row.class }}` | [`{{ row.type_name }}`]({{ link }}) | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif component.class == "Reg" %}

- Instance: `{{ component.instance }}`
- Definition: `{{ component.type_name }}`
- Offset: `{{ "0x{:0{fill_width}X}".format(component.offset, fill_width = 8) }}`

{{ component.desc }}

| range | SW | HW | reset | type_name | instance | name |
|-------|----|----|-------|-----------|----------|------|
{% for row in component.nodes -%}
{% set link = '#' ~ heading(row.class, row.name)|slug -%}
| `{{ "[{:d}:{:d}]".format(row.msb, row.lsb) }}` | `{{ row.sw }}` | `{{ row.hw }}` | `{{ "0x{:0{fill_width}x}".format(row.reset, fill_width=8) }}` | [`{{ row.type_name }}`]({{ link }}) | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% elif component.class == "Field" %}

{{ component.desc }}

{% endif -%}
{{ loop(component.components.items()) }}
{% endfor -%}