{% for node in nodes recursive %}

{% if node.type == "addrmap" %}
{{ '#' * loop.depth }} _Address map:_ {{ node.name }}

- Instance: `{{ node.instance }}`
- Definition: `{{ node.definition }}`
- Base address: `{{ "0x{:08X}".format(node.offset) }}`

{{ node.desc }}

| Base address | type | definition | instance | name |
|--------------|------|------------|----------|------|
{% for row in node.nodes -%}
| `{{ "0x{:08X}".format(row.offset) }}` | `{{ row.type }}` | `{{ row.definition }}`| `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{{ loop(node.nodes) }}

{% elif node.type == "regfile" %}
{{ '#' * loop.depth }} _Register file:_ {{ node.name }}

- Instance: `{{ node.instance }}`
- Definition: `{{ node.definition }}`
- Base address: `{{ "0x{:08X}".format(node.offset) }}`

{{ node.desc }}

| Base address | type | definition | instance | name |
|--------------|------|------------|----------|------|
{% for row in node.nodes -%}
| `{{ "0x{:08X}".format(row.offset) }}` | `{{ row.type }}` | `{{ row.definition }}` | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{{ loop(node.nodes) }}

{% elif node.type == "reg" %}
{{ '#' * loop.depth }} _Register:_ {{ node.name }}

- Instance: `{{ node.instance }}`
- Definition: `{{ node.definition }}`
- Address offset: `{{ "0x{:08X}".format(node.offset) }}`

{{ node.desc }}

| range | SW | reset | definition | instance | name |
|-------|----|-------|------------|----------|------|
{% for row in node.fields -%}
| `{{ "[{:d}:{:d}]".format(row.msb, row.lsb) }}` | `{{ row.sw }}` | `{{ "{:x}".format(row.reset) }}` | `{{ row.definition }}` | `{{ row.instance }}` | {{ row.name }} |
{% endfor %}

{% endif %}

{% endfor %}